<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>表酱</title>
        <link href="$link.contextPath/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div id="content_box">
            <div id="top_box">
                <div id="title_box"><label>表酱</label></div>
            </div>
            <div id="search_box">
                <textarea>输入关键字</textarea>
                <div><a href="#">搜索</a></div>
            </div>
            <div id="select_condition_box">
                <div id="condition_report_type" class="select_condition_style">
                    <a href="#">报表类型</a>
                </div>
                <div id="condition_date" class="select_condition_style">
                    <a href="#">日期</a>
                </div>
                <div id="condition_contact">
                    <a href="#">联系人</a>
                </div>
            </div>
            <div id="main_box">
                <div id="report_1">
                    <a href="#springUrl("/report/view")">日报-张三-20170327</a>
                </div>
                <div id="report_2">
                    <a href="#springUrl("/report/view")">日报-李四-20170327</a>
                </div>
                <div id="report_3">
                    <a href="#springUrl("/report/view")">日报-王麻子-20170327</a>
                </div>
            </div>
        </div>
    </body>
</html>
