<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itinna.smalltool.dao.mapper.NodeMapper">
  <resultMap id="BaseResultMap" type="com.itinna.smalltool.dao.model.Node">
    <id column="node_id" jdbcType="BIGINT" property="nodeId" />
    <result column="parent_node_id" jdbcType="BIGINT" property="parentNodeId" />
    <result column="node_type_id" jdbcType="BIGINT" property="nodeTypeId" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="position" jdbcType="INT" property="position" />
    <result column="is_required" jdbcType="CHAR" property="isRequired" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <association property="nodeType" ofType="com.itinna.smalltool.dao.model.NodeType" resultMap="com.itinna.smalltool.dao.mapper.NodeTypeMapper.BaseResultMap"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    node.node_id, 
    node.parent_node_id, 
    node.node_type_id, 
    node.template_id, 
    node.node_name, 
    node.position,
    node.is_required, 
    node.creator, 
    node.create_time, 
    node.modifier, 
    node.modify_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    delete from node
    where node_id = #{nodeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.itinna.smalltool.dao.model.Node">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    insert into node (node_id, parent_node_id, node_type_id, 
      template_id, node_name, position, is_required, 
      creator, create_time, modifier, 
      modify_time)
    values (#{nodeId,jdbcType=BIGINT}, #{parentNodeId,jdbcType=BIGINT}, #{nodeTypeId,jdbcType=BIGINT}, 
      #{templateId,jdbcType=BIGINT}, #{nodeName,jdbcType=VARCHAR}, #{position,jdbcType=INT}, #{isRequired,jdbcType=CHAR}, 
      #{creator,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{modifier,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.itinna.smalltool.dao.model.Node">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    insert into node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="parentNodeId != null">
        parent_node_id,
      </if>
      <if test="nodeTypeId != null">
        node_type_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="nodeName != null">
        node_name,
      </if>
      <if test="position != null">
        is_required,
      </if>
      <if test="isRequired != null">
        is_required,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeId != null">
        #{nodeId,jdbcType=BIGINT},
      </if>
      <if test="parentNodeId != null">
        #{parentNodeId,jdbcType=BIGINT},
      </if>
      <if test="nodeTypeId != null">
        #{nodeTypeId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=INT},
      </if>
      <if test="isRequired != null">
        #{isRequired,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itinna.smalltool.dao.model.Node">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    update node
    <set>
      <if test="parentNodeId != null">
        parent_node_id = #{parentNodeId,jdbcType=BIGINT},
      </if>
      <if test="nodeTypeId != null">
        node_type_id = #{nodeTypeId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="nodeName != null">
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=CHAR},
      </if>
      <if test="isRequired != null">
        is_required = #{isRequired,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itinna.smalltool.dao.model.Node">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    update node
    set parent_node_id = #{parentNodeId,jdbcType=BIGINT},
      node_type_id = #{nodeTypeId,jdbcType=BIGINT},
      template_id = #{templateId,jdbcType=BIGINT},
      node_name = #{nodeName,jdbcType=VARCHAR},
      position = #{position,jdbcType=INT},
      is_required = #{isRequired,jdbcType=CHAR},
      creator = #{creator,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where node_id = #{nodeId,jdbcType=BIGINT}
  </update>

  <select id="generateId" resultType="java.lang.Long">
    select last_insert_id() from node
  </select>
</mapper>