<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itinna.smalltool.dao.mapper.ReportValueMapper">
  <resultMap id="BaseResultMap" type="com.itinna.smalltool.dao.model.ReportValue">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="report_id" jdbcType="VARCHAR" property="reportId" />
    <result column="node_type_id" jdbcType="INTEGER" property="nodeTypeId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="is_required" jdbcType="CHAR" property="isRequired" />
    <result column="has_attachment" jdbcType="CHAR" property="hasAttachment" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <collection property="attachments" ofType="com.itinna.smalltool.dao.model.Attachment" 
        resultMap="com.itinna.smalltool.dao.mapper.AttachmentMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    report_value.id, 
    report_value.report_id, 
    report_value.node_type_id, 
    report_value.value, 
    report_value.node_id, 
    report_value.parent_id, 
    report_value.name, 
    report_value.position, 
    report_value.is_required, 
    report_value.has_attachment, 
    report_value.creator, 
    report_value.create_time, 
    report_value.modifier, 
    report_value.modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from report_value
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    delete from report_value
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itinna.smalltool.dao.model.ReportValue">
    insert into report_value (id, report_id, node_type_id, 
      value, node_id, parent_id, 
      name, position, is_required, 
      has_attachment, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{nodeTypeId,jdbcType=INTEGER}, 
      #{value,jdbcType=VARCHAR}, #{nodeId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{position,jdbcType=INTEGER}, #{isRequired,jdbcType=CHAR}, 
      #{hasAttachment,jdbcType=CHAR}, #{creator,jdbcType=VARCHAR}, now(), 
      #{modifier,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.itinna.smalltool.dao.model.ReportValue">
    insert into report_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="reportId != null">
        report_id,
      </if>
      <if test="nodeTypeId != null">
        node_type_id,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="nodeId != null">
        node_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="isRequired != null">
        is_required,
      </if>
      <if test="hasAttachment != null">
        has_attachment,
      </if>
      <if test="creator != null">
        creator,
      </if>
        create_time,
      <if test="modifier != null">
        modifier,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null">
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="nodeTypeId != null">
        #{nodeTypeId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="isRequired != null">
        #{isRequired,jdbcType=CHAR},
      </if>
      <if test="hasAttachment != null">
        #{hasAttachment,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itinna.smalltool.dao.model.ReportValue">
    update report_value
    <set>
      <if test="reportId != null">
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="nodeTypeId != null">
        node_type_id = #{nodeTypeId,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="isRequired != null">
        is_required = #{isRequired,jdbcType=CHAR},
      </if>
      <if test="hasAttachment != null">
        has_attachment = #{hasAttachment,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = now(),
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itinna.smalltool.dao.model.ReportValue">
    update report_value
    set report_id = #{reportId,jdbcType=VARCHAR},
      node_type_id = #{nodeTypeId,jdbcType=INTEGER},
      value = #{value,jdbcType=VARCHAR},
      node_id = #{nodeId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER},
      is_required = #{isRequired,jdbcType=CHAR},
      has_attachment = #{hasAttachment,jdbcType=CHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = now(),
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectByReportId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report_value
    where report_id = #{reportId,jdbcType=VARCHAR}
  </select>

</mapper>