<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itinna.smalltool.dao.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.itinna.smalltool.dao.model.Report">
    <id column="report_id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="report_name" jdbcType="VARCHAR" property="name" />
    <result column="report_creator" jdbcType="VARCHAR" property="creator" />
    <result column="report_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="report_modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="report_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <collection property="reportValues" ofType="com.itinna.smalltool.dao.model.ReportValue" 
        resultMap="com.itinna.smalltool.dao.mapper.ReportValueMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    report.id as report_id, 
    report.user_id, 
    report.template_id, 
    report.name as report_name, 
    report.creator as report_creator, 
    report.create_time as report_create_time, 
    report.modifier as report_modifier, 
    report.modify_time as report_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from report
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    delete from report
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itinna.smalltool.dao.model.Report">
    insert into report (id, user_id, template_id, 
      name, creator, create_time, 
      modifier, modify_time)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, now(), 
      #{modifier,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.itinna.smalltool.dao.model.Report">
    insert into report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="creator != null">
        creator,
      </if>
        create_time
      <if test="modifier != null">
        modifier,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
        now()
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itinna.smalltool.dao.model.Report">
    update report
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = now(),
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itinna.smalltool.dao.model.Report">
    update report
    set user_id = #{userId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = now(),
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectDetailByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    <include refid="com.itinna.smalltool.dao.mapper.ReportValueMapper.Base_Column_List" />,
    <include refid="com.itinna.smalltool.dao.mapper.AttachmentMapper.Base_Column_List" />
    from report
    left join report_value on report_value.report_id = report.id
    left join attachment on attachment.report_value_id = report_value.id
    where report.id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByTemplateId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report
    where template_id = #{templateId,jdbcType=VARCHAR}
  </select>

</mapper>