<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itinna.smalltool.dao.mapper.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.itinna.smalltool.dao.model.Template">
    <id column="template_id" jdbcType="VARCHAR" property="id" />
    <result column="template_name" jdbcType="VARCHAR" property="name" />
    <result column="template_description" jdbcType="VARCHAR" property="description" />
    <result column="template_creator" jdbcType="VARCHAR" property="creator" />
    <result column="template_create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="template_modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="template_modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <collection property="nodes" ofType="com.itinna.smalltool.dao.model.Node" 
        resultMap="com.itinna.smalltool.dao.mapper.NodeMapper.BaseResultMap"/>
  </resultMap>
  <sql id="Base_Column_List">
    template.id as template_id, 
    template.name as template_name, 
    template.description as template_description, 
    template.creator as template_creator, 
    template.create_time as template_create_time, 
    template.modifier as template_modifier,
    template.modify_time as template_modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from template
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Apr 21 15:31:37 CST 2017.
    -->
    delete from template
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itinna.smalltool.dao.model.Template">
    insert into template (id, name, description, 
      creator, create_time, modifier, 
      modify_time)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{creator,jdbcType=VARCHAR}, now(), #{modifier,jdbcType=VARCHAR}, now())
  </insert>
  <insert id="insertSelective" parameterType="com.itinna.smalltool.dao.model.Template">
    insert into template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="creator != null">
        creator,
      </if>
        create_time,
      <if test="modifier != null">
        modifier,
      </if>
        modify_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
        now(),
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
        now()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itinna.smalltool.dao.model.Template">
    update template
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = now(),
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=VARCHAR},
      </if>
        modify_time = now()
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itinna.smalltool.dao.model.Template">
    update template
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_time = now(),
      modifier = #{modifier,jdbcType=VARCHAR},
      modify_time = now()
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectDetailByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    <include refid="com.itinna.smalltool.dao.mapper.NodeMapper.Base_Column_List" />
    from template
    left join node on node.template_id = template.id
    where template.id = #{id,jdbcType=VARCHAR}
    order by node.position asc
  </select>
</mapper>