<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itinna.smalltool.dao.mapper.UserTemplateMapper">
  <resultMap id="BaseResultMap" type="com.itinna.smalltool.dao.model.UserTemplate">
    <id column="user_template_id" jdbcType="VARCHAR" property="userTemplateId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="is_admin" jdbcType="CHAR" property="isAdmin" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <collection property="templates" ofType="com.itinna.smalltool.dao.model.Template" resultMap="com.itinna.smalltool.dao.mapper.TemplateMapper.BaseResultMap"/>
  </resultMap>
  
  <sql id="Base_Column_List">
    user_template.user_template_id, 
    user_template.user_id, 
    user_template.template_id, 
    user_template.is_admin, 
    user_template.creator, 
    user_template.create_time, 
    user_template.modifier, 
    user_template.modify_time
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    select 
    <include refid="Base_Column_List" />
    from user_template
    where user_template_id = #{userTemplateId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    delete from user_template
    where user_template_id = #{userTemplateId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.itinna.smalltool.dao.model.UserTemplate">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    insert into user_template (user_template_id, user_id, template_id, 
      is_admin, creator, create_time, 
      modifier, modify_time)
    values (#{userTemplateId,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, 
      #{isAdmin,jdbcType=CHAR}, #{creator,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifier,jdbcType=BIGINT}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.itinna.smalltool.dao.model.UserTemplate">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    insert into user_template
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userTemplateId != null">
        user_template_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="isAdmin != null">
        is_admin,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userTemplateId != null">
        #{userTemplateId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="isAdmin != null">
        #{isAdmin,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.itinna.smalltool.dao.model.UserTemplate">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    update user_template
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="isAdmin != null">
        is_admin = #{isAdmin,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_template_id = #{userTemplateId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.itinna.smalltool.dao.model.UserTemplate">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 04 19:01:32 CST 2017.
    -->
    update user_template
    set user_id = #{userId,jdbcType=BIGINT},
      template_id = #{templateId,jdbcType=BIGINT},
      is_admin = #{isAdmin,jdbcType=CHAR},
      creator = #{creator,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where user_template_id = #{userTemplateId,jdbcType=VARCHAR}
  </update>

  <select id="generateId" resultType="java.lang.Long">
    select last_insert_id() from user_template
  </select>
</mapper>